[Unit]
Description=Web application status monitor

[Service]
WorkingDirectory=/path/to/platform-status
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
Restart=always

[Install]
WantedBy=multi-user.target
